body {
    background-color: rgb(204, 138, 58);
    font-family: sans-serif;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.container {
    width: 300px;
    margin: 0, auto;
}

.todoList {
    max-width: 400px;
    display: flex;
    margin: 0 auto 40px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 10px 0 #fff;
    box-shadow: 0 2px 10px 0 #fff;
}

.borderAllElements {
    background: #fff;
    border: 1px solid rgb(204, 138, 58);
    padding: 10px;
    padding: 5px;
   }

.borderTop {
    background: #fff;
    /* border: 1px solid rgb(204, 138, 58); */
    padding: 10px;
   }

.borderBottom {
background: rgb(255, 255, 255);
border: 1px solid rgb(240, 225, 225);
padding: 10px;
}
h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    color: rgb(0, 0, 0)
}

.todo {
    padding-left: 0;}
    .todo li {
       padding: .3em; 
       list-style-type: none; }
       .todo li:not(:last-child) {
        border-bottom: 1px solid #000;
       }


    
.wrap {
    width: 300px;
    margin: 0, auto;
    margin-left: auto;
    margin-right: auto;

}
#input {
    width: 70%;
}

.input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(12, 107, 250);
    outline:none;
}
input {
    
}



.inputError {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 4px solid rgb(250, 12, 12);
}


.btnAdd {
    display: inline-block;
    color: gb(14, 78, 197);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
  } 
  .btnAdd:hover { background: rgba(255,255,255,.2); }
  .btnAdd:active { background: rgb(12, 243, 4); }


#btn {
    width: 20%;
}

.btn {
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
      
}

.btnDel {
    background: rgb(235, 196, 196);
    border: none;
    color: rgb(231, 17, 17);
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    font-family: monospace;   
}

.btnActive {
    background: rgb(219, 43, 12);
    border: none;
    color: #fff;
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.li {
    background: #fff;
    border: 0px solid brown;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;
    width: 100%;
    text-transform: capitalize;
}

.liActive {
    color:rgb(204, 138, 58);
    text-decoration: line-through;
    background: #fff;
}

/* .liActive .btn {
    color: #000;
    text-decoration: line-through;
    background: #000;
} */

.liNotActive {
    display: none;
}
